h1{
    color: rgb(41, 36, 36);
    text-align: center;
}
body{
    background-color: rgba(165, 162, 150, 0.795);
}
p{
    color: rgb(149, 81, 211);
}
table{
    color: rgb(24, 70, 130);
    text-align: center;
    text-decoration: solid;
    margin-left: 40%;   
    position: relative;
    font-size: larger; 
    border-style: double; 
    border-inline:  ;   
}

