h1{
    color: black;
    text-align: center;
    
}

body {
	background: linear-gradient(-45deg, #dd7657, #ca366f, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header{
    background-color: bisque;
    opacity: 0.8;
}
main{
    opacity: 0.8;
}
p{
    color: rgb(149, 81, 211);
}
table{
    background-color: bisque;
    color: rgb(24, 70, 130);
    text-align: center;
    text-decoration: solid;
    margin:auto;   
    border-style: double; 
    border-width: 1ch;  
    opacity: 0.7;
    width: 50%;
    font-size: 100%;
    
}
.relativeSize{
    font-size: 100%;
    display: inline-flex;
}
article{
    background-color: aliceblue;
    opacity: 0.8;
}
.first{
    background-color: #23a6d5;
    color: #ca366f;
}
span{
    display: inline-block;
    background-color: #ca366f;
    color: chartreuse;
    width: 45%;
    height: 30px;
    text-align: center;
}


div{
    display: inline-block;
    color: #dd7657;
    background-color: cadetblue;
    text-align: center;
}
.fitSizes{
    width: 100px;
    height: 50%;
}
