h1{
    color: black;
    text-align: center;
    
}

body {
	background: linear-gradient(-45deg, #dd7657, #ca366f, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header{
    background-color: bisque;
    padding: 0.25%;
    margin: 2%;
    border-style: solid;
    border-width: 3px;
}

article{
    background-color: aliceblue;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.25%;
    border-style: solid;
    border-width: 3px;
}

main{
    background-color: aliceblue;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.25%;
    border-style: solid;
    border-width: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
}

footer{

}

.ArticleDiv{
    background-color: rgb(37, 37, 37);
    text-align: center;
    display: inline-block;
    margin: 1.4%;
    width: 21%;
    border-style: solid;
    border-width: 2px;
    padding: 0.05%;
    font-size: medium;
}

.ImgMain{
    display: inline-block;
    margin: 1.5%;
    width: 21%;
    border-style: solid;
    border-width: 2px;
}

p{
    color: rgb(201, 201, 201);
    font-size: larger;
    font-weight: bold;
}

table{
    background-color: bisque;
    color: rgb(24, 70, 130);
    text-align: center;
    text-decoration: solid;
    margin:auto;   
    border-style: solid; 
    border-width: 3px; 
    border-color: black; 
    width: 50%;
    font-size: 100%;
}
