h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
}

body {
	background-color: #d2d3d4;
    font-family: Arial, Helvetica, sans-serif;
   
}


.header{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 10%),
                0px 1px 1px 0px rgb(0 0 0 / 7%),
                0px 1px 3px 0px rgb(0 0 0 / 12%);
    position: relative;
    opacity: 0.8;
    left: 1%;
    top: 1%;
    width: 10vw;
    z-index: 1;
    background-color: #5D5C61;
    padding: 0.05%;
    border-style: solid;
    border-width: 0.5%;
    
}

.article{
    background-color: #7f8180;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.25%;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
}

main{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 10%),
                0px 1px 1px 0px rgb(0 0 0 / 7%),
                0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: 60%;
}

footer{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 10%),
                0px 1px 1px 0px rgb(0 0 0 / 7%),
                0px 1px 3px 0px rgb(0 0 0 / 12%);
    opacity: 0.8;
    margin:auto;
    z-index: 1;
    background-color: #5D5C61;
    padding: 0.05%;
    border-style: solid;
    border-width: 0.5%;
    border-radius: 8px;
}

.fa {
    display: inline block;
    padding: 20px;
    font-size: 30px;
    width: 2%;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-left: 46%;  
  }
 
  .fa:hover {
    opacity: 0.5;
  }
 
.fa-facebook {
    background: #3B5998;
     color: white;
}

input{
    margin-bottom: 1%;
}

#submit{
    margin: auto;
    display: block;
    margin-top: 7%;
}

.err{
    color: red;
}

.correct{
    color: black;
}
#lables{
    display: inline-block;
}
#inputs{
    display: inline-block;
}
#radios{
    display: inline-block;
}
label{
    display: block;
    margin-bottom: 7.2%;
}